02-1 파이썬을 계산기로 활용하기

In [3]:
5+2

7

In [4]:
5-2

3

In [5]:
5*2

10

In [6]:
2**4

16

In [7]:
10/2 #/연산자는 소수점 이하 숫자까지 출력

5.0

In [8]:
11 // 2 #나눗셈의 몫

5

In [9]:
8 % 5 # 나눗셈의 나머지

3

In [10]:
#100미만 7의배수 구하기
for i in range(100):
    if i % 7 == 0:
        print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

Do it 실습) 평균 나이 구하기

In [11]:
(50+45+33+39+29+30) / 6

37.666666666666664

In [13]:
(50+45+33+39+29+30) // 6  #몫만 가져오기

37

In [14]:
#round(숫자, 표시할 소수점 자릿수)

round((50+45+33+39+29+30) / 6, 1 ) # 소수점 첫째자리까지 값 출력

37.7

02-2 19단 곱셈표 출력하기

Do it 실습)for문으로 곱셈표 출력하기

for 변수 in 리스트(또는 튜플,문자열):
    수행할 문장

In [15]:
num = [1,2,3,4,5,6,7,8,9]
for i in num:
    print(2 * i)

2
4
6
8
10
12
14
16
18

In [17]:
#range()함수로 숫자열 가져오기
#range(시작할 정수, 끝나는 정수 +1)

for i in range(10):

    print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
for i in range(2, 20):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

Do it 실습) for문을 두 번 사용해 19단 곱셈표 출력하기

In [19]:
for i in range(2, 20):
    for j in range(1,20):
        print(i * j)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96
102
108
114
7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
8
16
24
32
40
48
56
64
72
80
88
96
104
112
120
128
136
144
152
9
18
27
36
45
54
63
72
81
90
99
108
117
126
135
144
153
162
171
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
11
22
33
44
55
66
77
88
99
110
121
132
143
154
165
176
187
198
209
12
24
36
48
60
72
84
96
108
120
132
144
156
168
180
192
204
216
228
13
26
39
52
65
78
91
104
117
130
143
156
169
182
195
208
221
234
247
14
28
42
56
70
84
98
112
126
140
154
168
182
196
210
224
238
252
266
15
30
45
60
75
90
105
120
135
150
165
180
195
210
225
240
255
270
285
16
32
48
64
80
96
112
128
144
160
176
192
208
224
240
256
272
288
304
17
34
51
68
85
102
119
136
153
170
187
204
221
238
255
272
289
306
323
18
36
54
72
90
108
126
144
162
180
198
216
234
252
270
288
306
324
342
19
38
57
76
95
114
133
152
171
190
209
228
247
266
285
304
323
342
361

Do it 실습> 19단 곱셈표 완성하기

In [20]:
for i in range(2, 20):
    for j in range(1, 20):
        print(i, 'X', j, '=', i*j)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24
2 X 13 = 26
2 X 14 = 28
2 X 15 = 30
2 X 16 = 32
2 X 17 = 34
2 X 18 = 36
2 X 19 = 38
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
3 X 11 = 33
3 X 12 = 36
3 X 13 = 39
3 X 14 = 42
3 X 15 = 45
3 X 16 = 48
3 X 17 = 51
3 X 18 = 54
3 X 19 = 57
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
4 X 11 = 44
4 X 12 = 48
4 X 13 = 52
4 X 14 = 56
4 X 15 = 60
4 X 16 = 64
4 X 17 = 68
4 X 18 = 72
4 X 19 = 76
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
5 X 12 = 60
5 X 13 = 65
5 X 14 = 70
5 X 15 = 75
5 X 16 = 80
5 X 17 = 85
5 X 18 = 90
5 X 19 = 95
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
6 X 11 = 66
6 X 12 = 72
6 X 13 = 78
6 X 14 = 84
6 X 15 = 90
6 X 16 = 96
6 X 17 = 102
6 X 18 = 108
6 X 19 = 114
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
7 X 11 = 77
7 X 12 = 84
7 X 13 = 91
7 X 14 = 98
7 X 15 = 105
7 X 16 = 112
7 X 17 = 119
7 X 18 = 126
7 X 19 = 133
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
8 X 11 = 88
8 X 12 = 96
8 X 13 = 104
8 X 14 = 112
8 X 15 = 120
8 X 16 = 128
8 X 17 = 136
8 X 18 = 144
8 X 19 = 152
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
9 X 11 = 99
9 X 12 = 108
9 X 13 = 117
9 X 14 = 126
9 X 15 = 135
9 X 16 = 144
9 X 17 = 153
9 X 18 = 162
9 X 19 = 171
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100
10 X 11 = 110
10 X 12 = 120
10 X 13 = 130
10 X 14 = 140
10 X 15 = 150
10 X 16 = 160
10 X 17 = 170
10 X 18 = 180
10 X 19 = 190
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110
11 X 11 = 121
11 X 12 = 132
11 X 13 = 143
11 X 14 = 154
11 X 15 = 165
11 X 16 = 176
11 X 17 = 187
11 X 18 = 198
11 X 19 = 209
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120
12 X 11 = 132
12 X 12 = 144
12 X 13 = 156
12 X 14 = 168
12 X 15 = 180
12 X 16 = 192
12 X 17 = 204
12 X 18 = 216
12 X 19 = 228
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130
13 X 11 = 143
13 X 12 = 156
13 X 13 = 169
13 X 14 = 182
13 X 15 = 195
13 X 16 = 208
13 X 17 = 221
13 X 18 = 234
13 X 19 = 247
14 X 1 = 14
14 X 2 = 28
14 X 3 = 42
14 X 4 = 56
14 X 5 = 70
14 X 6 = 84
14 X 7 = 98
14 X 8 = 112
14 X 9 = 126
14 X 10 = 140
14 X 11 = 154
14 X 12 = 168
14 X 13 = 182
14 X 14 = 196
14 X 15 = 210
14 X 16 = 224
14 X 17 = 238
14 X 18 = 252
14 X 19 = 266
15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150
15 X 11 = 165
15 X 12 = 180
15 X 13 = 195
15 X 14 = 210
15 X 15 = 225
15 X 16 = 240
15 X 17 = 255
15 X 18 = 270
15 X 19 = 285
16 X 1 = 16
16 X 2 = 32
16 X 3 = 48
16 X 4 = 64
16 X 5 = 80
16 X 6 = 96
16 X 7 = 112
16 X 8 = 128
16 X 9 = 144
16 X 10 = 160
16 X 11 = 176
16 X 12 = 192
16 X 13 = 208
16 X 14 = 224
16 X 15 = 240
16 X 16 = 256
16 X 17 = 272
16 X 18 = 288
16 X 19 = 304
17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153
17 X 10 = 170
17 X 11 = 187
17 X 12 = 204
17 X 13 = 221
17 X 14 = 238
17 X 15 = 255
17 X 16 = 272
17 X 17 = 289
17 X 18 = 306
17 X 19 = 323
18 X 1 = 18
18 X 2 = 36
18 X 3 = 54
18 X 4 = 72
18 X 5 = 90
18 X 6 = 108
18 X 7 = 126
18 X 8 = 144
18 X 9 = 162
18 X 10 = 180
18 X 11 = 198
18 X 12 = 216
18 X 13 = 234
18 X 14 = 252
18 X 15 = 270
18 X 16 = 288
18 X 17 = 306
18 X 18 = 324
18 X 19 = 342
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190
19 X 11 = 209
19 X 12 = 228
19 X 13 = 247
19 X 14 = 266
19 X 15 = 285
19 X 16 = 304
19 X 17 = 323
19 X 18 = 342
19 X 19 = 361

In [21]:
#format함수 이용
for i in range(2, 20):
    for j in range(1, 20):
        print(f'{i} X {j} = {i*j}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24
2 X 13 = 26
2 X 14 = 28
2 X 15 = 30
2 X 16 = 32
2 X 17 = 34
2 X 18 = 36
2 X 19 = 38
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
3 X 11 = 33
3 X 12 = 36
3 X 13 = 39
3 X 14 = 42
3 X 15 = 45
3 X 16 = 48
3 X 17 = 51
3 X 18 = 54
3 X 19 = 57
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
4 X 11 = 44
4 X 12 = 48
4 X 13 = 52
4 X 14 = 56
4 X 15 = 60
4 X 16 = 64
4 X 17 = 68
4 X 18 = 72
4 X 19 = 76
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
5 X 12 = 60
5 X 13 = 65
5 X 14 = 70
5 X 15 = 75
5 X 16 = 80
5 X 17 = 85
5 X 18 = 90
5 X 19 = 95
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
6 X 11 = 66
6 X 12 = 72
6 X 13 = 78
6 X 14 = 84
6 X 15 = 90
6 X 16 = 96
6 X 17 = 102
6 X 18 = 108
6 X 19 = 114
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
7 X 11 = 77
7 X 12 = 84
7 X 13 = 91
7 X 14 = 98
7 X 15 = 105
7 X 16 = 112
7 X 17 = 119
7 X 18 = 126
7 X 19 = 133
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
8 X 11 = 88
8 X 12 = 96
8 X 13 = 104
8 X 14 = 112
8 X 15 = 120
8 X 16 = 128
8 X 17 = 136
8 X 18 = 144
8 X 19 = 152
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
9 X 11 = 99
9 X 12 = 108
9 X 13 = 117
9 X 14 = 126
9 X 15 = 135
9 X 16 = 144
9 X 17 = 153
9 X 18 = 162
9 X 19 = 171
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100
10 X 11 = 110
10 X 12 = 120
10 X 13 = 130
10 X 14 = 140
10 X 15 = 150
10 X 16 = 160
10 X 17 = 170
10 X 18 = 180
10 X 19 = 190
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110
11 X 11 = 121
11 X 12 = 132
11 X 13 = 143
11 X 14 = 154
11 X 15 = 165
11 X 16 = 176
11 X 17 = 187
11 X 18 = 198
11 X 19 = 209
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120
12 X 11 = 132
12 X 12 = 144
12 X 13 = 156
12 X 14 = 168
12 X 15 = 180
12 X 16 = 192
12 X 17 = 204
12 X 18 = 216
12 X 19 = 228
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130
13 X 11 = 143
13 X 12 = 156
13 X 13 = 169
13 X 14 = 182
13 X 15 = 195
13 X 16 = 208
13 X 17 = 221
13 X 18 = 234
13 X 19 = 247
14 X 1 = 14
14 X 2 = 28
14 X 3 = 42
14 X 4 = 56
14 X 5 = 70
14 X 6 = 84
14 X 7 = 98
14 X 8 = 112
14 X 9 = 126
14 X 10 = 140
14 X 11 = 154
14 X 12 = 168
14 X 13 = 182
14 X 14 = 196
14 X 15 = 210
14 X 16 = 224
14 X 17 = 238
14 X 18 = 252
14 X 19 = 266
15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150
15 X 11 = 165
15 X 12 = 180
15 X 13 = 195
15 X 14 = 210
15 X 15 = 225
15 X 16 = 240
15 X 17 = 255
15 X 18 = 270
15 X 19 = 285
16 X 1 = 16
16 X 2 = 32
16 X 3 = 48
16 X 4 = 64
16 X 5 = 80
16 X 6 = 96
16 X 7 = 112
16 X 8 = 128
16 X 9 = 144
16 X 10 = 160
16 X 11 = 176
16 X 12 = 192
16 X 13 = 208
16 X 14 = 224
16 X 15 = 240
16 X 16 = 256
16 X 17 = 272
16 X 18 = 288
16 X 19 = 304
17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153
17 X 10 = 170
17 X 11 = 187
17 X 12 = 204
17 X 13 = 221
17 X 14 = 238
17 X 15 = 255
17 X 16 = 272
17 X 17 = 289
17 X 18 = 306
17 X 19 = 323
18 X 1 = 18
18 X 2 = 36
18 X 3 = 54
18 X 4 = 72
18 X 5 = 90
18 X 6 = 108
18 X 7 = 126
18 X 8 = 144
18 X 9 = 162
18 X 10 = 180
18 X 11 = 198
18 X 12 = 216
18 X 13 = 234
18 X 14 = 252
18 X 15 = 270
18 X 16 = 288
18 X 17 = 306
18 X 18 = 324
18 X 19 = 342
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190
19 X 11 = 209
19 X 12 = 228
19 X 13 = 247
19 X 14 = 266
19 X 15 = 285
19 X 16 = 304
19 X 17 = 323
19 X 18 = 342
19 X 19 = 361

02-3 똑똑한 chatGPT 일 시키기

In [24]:
for i in range(1, 20):
        for j in range(1, 20):
            print(f"{i} * {j} = {i*j:2d}", end ="\t")
        print()

#end ="\t"은 탭으로 구분하여 다음 값을 출력하도록 저장
#2d는 출력할 숫자가 두 자릿수일 때도 자릿수를 맞춰주기 위한 포맷 지정자이다.

1 * 1 =  1	1 * 2 =  2	1 * 3 =  3	1 * 4 =  4	1 * 5 =  5	1 * 6 =  6	1 * 7 =  7	1 * 8 =  8	1 * 9 =  9	1 * 10 = 10	1 * 11 = 11	1 * 12 = 12	1 * 13 = 13	1 * 14 = 14	1 * 15 = 15	1 * 16 = 16	1 * 17 = 17	1 * 18 = 18	1 * 19 = 19
2 * 1 =  2	2 * 2 =  4	2 * 3 =  6	2 * 4 =  8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18	2 * 10 = 20	2 * 11 = 22	2 * 12 = 24	2 * 13 = 26	2 * 14 = 28	2 * 15 = 30	2 * 16 = 32	2 * 17 = 34	2 * 18 = 36	2 * 19 = 38
3 * 1 =  3	3 * 2 =  6	3 * 3 =  9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27	3 * 10 = 30	3 * 11 = 33	3 * 12 = 36	3 * 13 = 39	3 * 14 = 42	3 * 15 = 45	3 * 16 = 48	3 * 17 = 51	3 * 18 = 54	3 * 19 = 57
4 * 1 =  4	4 * 2 =  8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36	4 * 10 = 40	4 * 11 = 44	4 * 12 = 48	4 * 13 = 52	4 * 14 = 56	4 * 15 = 60	4 * 16 = 64	4 * 17 = 68	4 * 18 = 72	4 * 19 = 76
5 * 1 =  5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45	5 * 10 = 50	5 * 11 = 55	5 * 12 = 60	5 * 13 = 65	5 * 14 = 70	5 * 15 = 75	5 * 16 = 80	5 * 17 = 85	5 * 18 = 90	5 * 19 = 95
6 * 1 =  6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54	6 * 10 = 60	6 * 11 = 66	6 * 12 = 72	6 * 13 = 78	6 * 14 = 84	6 * 15 = 90	6 * 16 = 96	6 * 17 = 102	6 * 18 = 108	6 * 19 = 114
7 * 1 =  7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63	7 * 10 = 70	7 * 11 = 77	7 * 12 = 84	7 * 13 = 91	7 * 14 = 98	7 * 15 = 105	7 * 16 = 112	7 * 17 = 119	7 * 18 = 126	7 * 19 = 133
8 * 1 =  8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72	8 * 10 = 80	8 * 11 = 88	8 * 12 = 96	8 * 13 = 104	8 * 14 = 112	8 * 15 = 120	8 * 16 = 128	8 * 17 = 136	8 * 18 = 144	8 * 19 = 152
9 * 1 =  9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81	9 * 10 = 90	9 * 11 = 99	9 * 12 = 108	9 * 13 = 117	9 * 14 = 126	9 * 15 = 135	9 * 16 = 144	9 * 17 = 153	9 * 18 = 162	9 * 19 = 171
10 * 1 = 10	10 * 2 = 20	10 * 3 = 30	10 * 4 = 40	10 * 5 = 50	10 * 6 = 60	10 * 7 = 70	10 * 8 = 80	10 * 9 = 90	10 * 10 = 100	10 * 11 = 110	10 * 12 = 120	10 * 13 = 130	10 * 14 = 140	10 * 15 = 150	10 * 16 = 160	10 * 17 = 170	10 * 18 = 180	10 * 19 = 190
11 * 1 = 11	11 * 2 = 22	11 * 3 = 33	11 * 4 = 44	11 * 5 = 55	11 * 6 = 66	11 * 7 = 77	11 * 8 = 88	11 * 9 = 99	11 * 10 = 110	11 * 11 = 121	11 * 12 = 132	11 * 13 = 143	11 * 14 = 154	11 * 15 = 165	11 * 16 = 176	11 * 17 = 187	11 * 18 = 198	11 * 19 = 209
12 * 1 = 12	12 * 2 = 24	12 * 3 = 36	12 * 4 = 48	12 * 5 = 60	12 * 6 = 72	12 * 7 = 84	12 * 8 = 96	12 * 9 = 108	12 * 10 = 120	12 * 11 = 132	12 * 12 = 144	12 * 13 = 156	12 * 14 = 168	12 * 15 = 180	12 * 16 = 192	12 * 17 = 204	12 * 18 = 216	12 * 19 = 228
13 * 1 = 13	13 * 2 = 26	13 * 3 = 39	13 * 4 = 52	13 * 5 = 65	13 * 6 = 78	13 * 7 = 91	13 * 8 = 104	13 * 9 = 117	13 * 10 = 130	13 * 11 = 143	13 * 12 = 156	13 * 13 = 169	13 * 14 = 182	13 * 15 = 195	13 * 16 = 208	13 * 17 = 221	13 * 18 = 234	13 * 19 = 247
14 * 1 = 14	14 * 2 = 28	14 * 3 = 42	14 * 4 = 56	14 * 5 = 70	14 * 6 = 84	14 * 7 = 98	14 * 8 = 112	14 * 9 = 126	14 * 10 = 140	14 * 11 = 154	14 * 12 = 168	14 * 13 = 182	14 * 14 = 196	14 * 15 = 210	14 * 16 = 224	14 * 17 = 238	14 * 18 = 252	14 * 19 = 266
15 * 1 = 15	15 * 2 = 30	15 * 3 = 45	15 * 4 = 60	15 * 5 = 75	15 * 6 = 90	15 * 7 = 105	15 * 8 = 120	15 * 9 = 135	15 * 10 = 150	15 * 11 = 165	15 * 12 = 180	15 * 13 = 195	15 * 14 = 210	15 * 15 = 225	15 * 16 = 240	15 * 17 = 255	15 * 18 = 270	15 * 19 = 285
16 * 1 = 16	16 * 2 = 32	16 * 3 = 48	16 * 4 = 64	16 * 5 = 80	16 * 6 = 96	16 * 7 = 112	16 * 8 = 128	16 * 9 = 144	16 * 10 = 160	16 * 11 = 176	16 * 12 = 192	16 * 13 = 208	16 * 14 = 224	16 * 15 = 240	16 * 16 = 256	16 * 17 = 272	16 * 18 = 288	16 * 19 = 304
17 * 1 = 17	17 * 2 = 34	17 * 3 = 51	17 * 4 = 68	17 * 5 = 85	17 * 6 = 102	17 * 7 = 119	17 * 8 = 136	17 * 9 = 153	17 * 10 = 170	17 * 11 = 187	17 * 12 = 204	17 * 13 = 221	17 * 14 = 238	17 * 15 = 255	17 * 16 = 272	17 * 17 = 289	17 * 18 = 306	17 * 19 = 323
18 * 1 = 18	18 * 2 = 36	18 * 3 = 54	18 * 4 = 72	18 * 5 = 90	18 * 6 = 108	18 * 7 = 126	18 * 8 = 144	18 * 9 = 162	18 * 10 = 180	18 * 11 = 198	18 * 12 = 216	18 * 13 = 234	18 * 14 = 252	18 * 15 = 270	18 * 16 = 288	18 * 17 = 306	18 * 18 = 324	18 * 19 = 342
19 * 1 = 19	19 * 2 = 38	19 * 3 = 57	19 * 4 = 76	19 * 5 = 95	19 * 6 = 114	19 * 7 = 133	19 * 8 = 152	19 * 9 = 171	19 * 10 = 190	19 * 11 = 209	19 * 12 = 228	19 * 13 = 247	19 * 14 = 266	19 * 15 = 285	19 * 16 = 304	19 * 17 = 323	19 * 18 = 342	19 * 19 = 361

Do it 실습)파이썬 파일로 저장하고 실행하기

In [25]:
#19단 곱셈단 좀 더 가지런하게 출력되게 해줘

for i in range(2,20):
    for j in range(1, 20):
        print("{:2d} x {:2d} = {:3d}".format(i,j,i*j), end="")
    print()

 2 x  1 =   2 2 x  2 =   4 2 x  3 =   6 2 x  4 =   8 2 x  5 =  10 2 x  6 =  12 2 x  7 =  14 2 x  8 =  16 2 x  9 =  18 2 x 10 =  20 2 x 11 =  22 2 x 12 =  24 2 x 13 =  26 2 x 14 =  28 2 x 15 =  30 2 x 16 =  32 2 x 17 =  34 2 x 18 =  36 2 x 19 =  38
 3 x  1 =   3 3 x  2 =   6 3 x  3 =   9 3 x  4 =  12 3 x  5 =  15 3 x  6 =  18 3 x  7 =  21 3 x  8 =  24 3 x  9 =  27 3 x 10 =  30 3 x 11 =  33 3 x 12 =  36 3 x 13 =  39 3 x 14 =  42 3 x 15 =  45 3 x 16 =  48 3 x 17 =  51 3 x 18 =  54 3 x 19 =  57
 4 x  1 =   4 4 x  2 =   8 4 x  3 =  12 4 x  4 =  16 4 x  5 =  20 4 x  6 =  24 4 x  7 =  28 4 x  8 =  32 4 x  9 =  36 4 x 10 =  40 4 x 11 =  44 4 x 12 =  48 4 x 13 =  52 4 x 14 =  56 4 x 15 =  60 4 x 16 =  64 4 x 17 =  68 4 x 18 =  72 4 x 19 =  76
 5 x  1 =   5 5 x  2 =  10 5 x  3 =  15 5 x  4 =  20 5 x  5 =  25 5 x  6 =  30 5 x  7 =  35 5 x  8 =  40 5 x  9 =  45 5 x 10 =  50 5 x 11 =  55 5 x 12 =  60 5 x 13 =  65 5 x 14 =  70 5 x 15 =  75 5 x 16 =  80 5 x 17 =  85 5 x 18 =  90 5 x 19 =  95
 6 x  1 =   6 6 x  2 =  12 6 x  3 =  18 6 x  4 =  24 6 x  5 =  30 6 x  6 =  36 6 x  7 =  42 6 x  8 =  48 6 x  9 =  54 6 x 10 =  60 6 x 11 =  66 6 x 12 =  72 6 x 13 =  78 6 x 14 =  84 6 x 15 =  90 6 x 16 =  96 6 x 17 = 102 6 x 18 = 108 6 x 19 = 114
 7 x  1 =   7 7 x  2 =  14 7 x  3 =  21 7 x  4 =  28 7 x  5 =  35 7 x  6 =  42 7 x  7 =  49 7 x  8 =  56 7 x  9 =  63 7 x 10 =  70 7 x 11 =  77 7 x 12 =  84 7 x 13 =  91 7 x 14 =  98 7 x 15 = 105 7 x 16 = 112 7 x 17 = 119 7 x 18 = 126 7 x 19 = 133
 8 x  1 =   8 8 x  2 =  16 8 x  3 =  24 8 x  4 =  32 8 x  5 =  40 8 x  6 =  48 8 x  7 =  56 8 x  8 =  64 8 x  9 =  72 8 x 10 =  80 8 x 11 =  88 8 x 12 =  96 8 x 13 = 104 8 x 14 = 112 8 x 15 = 120 8 x 16 = 128 8 x 17 = 136 8 x 18 = 144 8 x 19 = 152
 9 x  1 =   9 9 x  2 =  18 9 x  3 =  27 9 x  4 =  36 9 x  5 =  45 9 x  6 =  54 9 x  7 =  63 9 x  8 =  72 9 x  9 =  81 9 x 10 =  90 9 x 11 =  99 9 x 12 = 108 9 x 13 = 117 9 x 14 = 126 9 x 15 = 135 9 x 16 = 144 9 x 17 = 153 9 x 18 = 162 9 x 19 = 171
10 x  1 =  1010 x  2 =  2010 x  3 =  3010 x  4 =  4010 x  5 =  5010 x  6 =  6010 x  7 =  7010 x  8 =  8010 x  9 =  9010 x 10 = 10010 x 11 = 11010 x 12 = 12010 x 13 = 13010 x 14 = 14010 x 15 = 15010 x 16 = 16010 x 17 = 17010 x 18 = 18010 x 19 = 190
11 x  1 =  1111 x  2 =  2211 x  3 =  3311 x  4 =  4411 x  5 =  5511 x  6 =  6611 x  7 =  7711 x  8 =  8811 x  9 =  9911 x 10 = 11011 x 11 = 12111 x 12 = 13211 x 13 = 14311 x 14 = 15411 x 15 = 16511 x 16 = 17611 x 17 = 18711 x 18 = 19811 x 19 = 209
12 x  1 =  1212 x  2 =  2412 x  3 =  3612 x  4 =  4812 x  5 =  6012 x  6 =  7212 x  7 =  8412 x  8 =  9612 x  9 = 10812 x 10 = 12012 x 11 = 13212 x 12 = 14412 x 13 = 15612 x 14 = 16812 x 15 = 18012 x 16 = 19212 x 17 = 20412 x 18 = 21612 x 19 = 228
13 x  1 =  1313 x  2 =  2613 x  3 =  3913 x  4 =  5213 x  5 =  6513 x  6 =  7813 x  7 =  9113 x  8 = 10413 x  9 = 11713 x 10 = 13013 x 11 = 14313 x 12 = 15613 x 13 = 16913 x 14 = 18213 x 15 = 19513 x 16 = 20813 x 17 = 22113 x 18 = 23413 x 19 = 247
14 x  1 =  1414 x  2 =  2814 x  3 =  4214 x  4 =  5614 x  5 =  7014 x  6 =  8414 x  7 =  9814 x  8 = 11214 x  9 = 12614 x 10 = 14014 x 11 = 15414 x 12 = 16814 x 13 = 18214 x 14 = 19614 x 15 = 21014 x 16 = 22414 x 17 = 23814 x 18 = 25214 x 19 = 266
15 x  1 =  1515 x  2 =  3015 x  3 =  4515 x  4 =  6015 x  5 =  7515 x  6 =  9015 x  7 = 10515 x  8 = 12015 x  9 = 13515 x 10 = 15015 x 11 = 16515 x 12 = 18015 x 13 = 19515 x 14 = 21015 x 15 = 22515 x 16 = 24015 x 17 = 25515 x 18 = 27015 x 19 = 285
16 x  1 =  1616 x  2 =  3216 x  3 =  4816 x  4 =  6416 x  5 =  8016 x  6 =  9616 x  7 = 11216 x  8 = 12816 x  9 = 14416 x 10 = 16016 x 11 = 17616 x 12 = 19216 x 13 = 20816 x 14 = 22416 x 15 = 24016 x 16 = 25616 x 17 = 27216 x 18 = 28816 x 19 = 304
17 x  1 =  1717 x  2 =  3417 x  3 =  5117 x  4 =  6817 x  5 =  8517 x  6 = 10217 x  7 = 11917 x  8 = 13617 x  9 = 15317 x 10 = 17017 x 11 = 18717 x 12 = 20417 x 13 = 22117 x 14 = 23817 x 15 = 25517 x 16 = 27217 x 17 = 28917 x 18 = 30617 x 19 = 323
18 x  1 =  1818 x  2 =  3618 x  3 =  5418 x  4 =  7218 x  5 =  9018 x  6 = 10818 x  7 = 12618 x  8 = 14418 x  9 = 16218 x 10 = 18018 x 11 = 19818 x 12 = 21618 x 13 = 23418 x 14 = 25218 x 15 = 27018 x 16 = 28818 x 17 = 30618 x 18 = 32418 x 19 = 342
19 x  1 =  1919 x  2 =  3819 x  3 =  5719 x  4 =  7619 x  5 =  9519 x  6 = 11419 x  7 = 13319 x  8 = 15219 x  9 = 17119 x 10 = 19019 x 11 = 20919 x 12 = 22819 x 13 = 24719 x 14 = 26619 x 15 = 28519 x 16 = 30419 x 17 = 32319 x 18 = 34219 x 19 = 361

chatGPT로 코드를 만들 때 주의할 점

In [26]:
#한국어로 된 문장만 콤파일 해주는 정규식 코드
import re

text = "This is a sample sentence. 이것은 샘플 문장입니다. Here is another sample sentence. 여기 또 다른 샘플 문장이 있습니다."

korean_sentences = re.findall(r'[ㄱ-ㅎ가-힣]+', text)
for sentence in korean_sentences:
    print(sentence)

이것은
샘플
문장입니다
여기
또
다른
샘플
문장이
있습니다

In [ ]:
#파이썬 슬라이싱 설명해줘

'''
파이썬에서의 슬라이싱은 시퀀스(sequence) 타입인 문자열(String), 리스트(List), 튜플(Tuple), 배열(Array) 등의 객체에서 일부분을 추출하는 기능을 말합니다. 이는 시퀀스의 일부를 새로운 시퀀스로 만들어내는데 사용됩니다.

슬라이싱은 다음과 같은 형식을 가집니다:

python
Copy code
sequence[start:stop:step]
여기서:

sequence: 슬라이싱을 수행할 시퀀스 객체입니다. 이는 문자열, 리스트, 튜플 등이 될 수 있습니다.
start: 슬라이스의 시작 인덱스를 나타냅니다. 이 인덱스에 해당하는 요소는 포함됩니다. 기본값은 0입니다.
stop: 슬라이스의 종료 인덱스를 나타냅니다. 이 인덱스에 해당하는 요소는 포함되지 않습니다. 기본값은 시퀀스의 길이입니다.
step: 선택적으로 지정할 수 있는 슬라이스 간격입니다. 기본값은 1입니다.
위의 형식에서 start, stop, step은 모두 생략 가능하며, 생략 시에는 기본값이 사용됩니다.
'''

In [27]:
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
sliced_num = num[2:6]
print(sliced_num)

[2, 3, 4, 5]

In [28]:
print(num[1])

1

chatGPT로 오류 찾기

In [30]:
def calculator(a, b):
    return a+b, a-b, a*b, a/ b

In [32]:

#calculator(12,'글자')

'''
TypeError                                 Traceback (most recent call last)
<ipython-input-31-2e6177ec4941> in <cell line: 1>()
----> 1 calculator(12,'글자')

<ipython-input-30-5b7063b87aef> in calculator(a, b)
      1 def calculator(a, b):
----> 2     return a+b, a-b, a*b, a/ b

TypeError: unsupported operand type(s) for +: 'int' and 'str'
'''

"\nTypeError                                 Traceback (most recent call last)\n<ipython-input-31-2e6177ec4941> in <cell line: 1>()\n----> 1 calculator(12,'글자')\n\n<ipython-input-30-5b7063b87aef> in calculator(a, b)\n      1 def calculator(a, b):\n----> 2     return a+b, a-b, a*b, a/ b\n\nTypeError: unsupported operand type(s) for +: 'int' and 'str'\n"

In [33]:
#chatGPT 해결 코드
def calculator(a, b):
    if not isinstance(a, (int, float)) or not isinstance(b, (int, float)):
      return "숫자형만 입력할 수 있습니다"

    return a+b, a-b, a*b, a/ b

In [34]:
calculator(10,2)

(12, 8, 20, 5.0)

In [35]:
calculator(10,'사람')

'숫자형만 입력할 수 있습니다'

02-4 예외 처리의 중요성

In [36]:
#오류를 처리하는 방법: try-except-finally
try:
    print(1/0) #try : 예외가 발생할 가능성이 있는 코드를 포함
except ZeroDivisionError: # except : 예외가 발생했을 때 실행할 코드를 포함
    print("Division ny zero error") #finally : 예외가 발생하든 발생하지 않든 항상 실행하는 코드를 포함
finally:
    print("This is will always be printed")

Division ny zero error
This is will always be printed

#어떤 오류가 있나:

In [38]:
#NameError : 이름을 정의하지 않음
'''
print(foo)

NameError: name 'foo' is not defined
'''

In [40]:
#TypeError : 잘못된 유형의 값을 사용 / 정수와 문자열 더하면 오류
'''
print(1 + "hello")
TypeError: unsupported operand type(s) for +: 'int' and 'str'
'''

'\nprint(1 + "hello")\nTypeError: unsupported operand type(s) for +: \'int\' and \'str\'\n'

In [43]:
#Va;ueError : 잘못된 값을 사용 / 문자를 정수로 변환할려하면 오류

'''
int("hello")
ValueError: invalid literal for int() with base 10: 'hello'
'''

'\nint("hello")\nValueError: invalid literal for int() with base 10: \'hello\'\n'

In [45]:
#IndexError : 인덱스 범위를 벗어남

'''
my_list = [1,2,3] #인덱스 범위 0-2
print(my_list[3])
IndexError: list index out of range
'''

'\nmy_list = [1,2,3] #인덱스 범위 0-2\nprint(my_list[3]) \nIndexError: list index out of range\n'

In [48]:
#KeyError : 딕셔너리에 없는 키에 접근하면 오류

'''
my_dict = {}
print(my_dict['key'])
KeyError: 'key'
'''

"\nmy_dict = {}\nprint(my_dict['key'])\nKeyError: 'key'\n"

In [52]:
#AttributeError: 개체에 없는 속성에 접근하면 오류

'''
class MyClass:
    def __init__(self):
        self.my_attribute = 42

# MyClass 객체를 생성
my_object.attribute
AttributeError: 'MyClass' object has no attribute 'attribute'
'''

"\nclass MyClass:\n    def __init__(self):\n        self.my_attribute = 42\n\n# MyClass 객체를 생성\nmy_object.attribute\nAttributeError: 'MyClass' object has no attribute 'attribute'\n"

In [59]:
#SyntaxError : 잘못된 문법으로 코드를 작성하면 오류

'''
if 1 < 2 :
    print("hello")
else #  :가 누락
    print("world")

SyntaxError: expected ':'
'''

'\nif 1 < 2 :\n    print("hello")\nelse\n    print("world")\n\nSyntaxError: expected \':\'\n'

In [61]:
#indentationError : 들여쓰기가 올바르지 않으면 생기는 오류

'''
if 1 < 2:
print("hello")
print("world")

IndentationError: expected an indented block after 'if' statement on line 2
'''

'\nif 1 < 2:\nprint("hello")\nprint("world")\n\nIndentationError: expected an indented block after \'if\' statement on line 2\n'

In [63]:
#ImportError : 모듈을 임포트 할 수 없다. 올바르게 설치가 안됐거나 없는 모듈을 임포트하면 오류 발생
#import my_module

In [64]:
#ZeroDivisionError : 값을 0 으로 나누려하면 이 예외가 발생

try:
    print(1/0)
except ZeroDivisionError:
    print("Division by zero error")

Division by zero error