변수

In [1]:
a = 1 
print(a)

1

In [3]:
b = 5 
a = b
#얕은 복사(shallow copy)
print(a)

5

데이터 타입(dtype)

In [6]:
#숫자형 

a = 1 ;b = 5 ;c = 3.3 ; d = 0.5

print(a,b,c,d)
print(type(a),type(b),type(c),type(d))

1 5 3.3 0.5
<class 'int'> <class 'int'> <class 'float'> <class 'float'>

In [10]:
print(a+b,a-b,a*b,a/b) #사칙연산(+,-,*,%)
print(a ** c) #제곱
print(a // c) #몫
print(a % c) #나머지

6 -4 5 0.2
1.0
0.0
1.0

In [12]:
#문자열 형 

str1 = "python"
str2 = "programming"
print(str1 + str2) #문자열 더하기 >> 문자끼리 연결 
print(str1 * 2) #문자열 곱하기 >> 문자열 반복

pythonprogramming
pythonpython

In [22]:
#문자열 인덱싱 & 슬라이싱
str = "python programming"
print(str[0]) #인덱싱(특정 위치 값 추출 )
print(str[-2])
print(len(str)) #데이터 크기(길이)
print(str[-18])
print("*" * 30)

print(str[1:4])
print(str[:6])
print(str[-3:])

p
n
18
p
******************************
yth
python
ing

In [26]:
#문자열 포맷팅 
#f'{}' = f-string (추천)

print("오늘은 %d일 입니다," %28)
print("오늘은 %s요일 입니다."%"목")
print("지금 온도는 %.2f도 입니다."%36.5) #소수점 2째자리까지만 출력
print("")

오늘은 28일 입니다,
오늘은 목요일 입니다.
지금 온도는 36.50도 입니다.

-%s : string 문자열
-%c : 단일문자(char)
-%d : 정수(int)
-%x : 16진수

In [29]:
#문자열 내장 함수
#count() :문자열 내 특정 문자 개수 세기 
str = "python programming"
print(str.count('p'))

2

In [30]:
#join() : 문자열 삽입

"-".join(str)

'p-y-t-h-o-n- -p-r-o-g-r-a-m-m-i-n-g'

In [32]:
#find() : 찾는 문자열 (처음 나온) 위치 변환

str.find('n')

5

In [94]:
#upper(), lower() 대문자/ 소문자로

print(str.upper())
str2 = 'PYTHON PROGRAMMING'
print(str2.lower())

PYTHON PROGRAMMING
python programming

In [96]:
#replace(***) : 문자열 내 특정 값을 다른 값으로 변환
#replace(바꾸고싶은문자, 바꿀문자)
str.replace('python','java')

'java programming'

In [98]:
#split(***) : 공백 또는 특정 문자를 [구분자]로 문자열 분리

str.split(" ") #공백으로 분리

['python', 'programming']

In [99]:
# 산술 연산자 

a = 20 ; b = 10 
print(a+b) # 더하기
print(a-b) # 빼기
print(a*b) # 곱하기
print(a/b) # 나누기 
print(a//b) # 몫
print(a%b)  # 나머지 
print(a**b) # 거듭제곱

30
10
200
2.0
2
0
10240000000000

In [100]:
#비교(연산자)

print(a < b) 
# boolean(True/False)으로 출력
print(a >= b) 
print(a <= b) 
print(a == b) # 값이 동일 
print(a != b) # 값이 다르다

False
True
False
False
True

In [40]:
#논리 연산자 
a = True
b = False

(a and b)

False

In [41]:
(a or b)

True

In [42]:
not b

True

In [43]:
#복합 대입 연산자 

a= 10
a = a+10 # a += 10
print(a)

20

In [46]:
a += 10
print(a)

10

In [47]:
a *= 10
print(a)

100

In [48]:
a /= 10
print(a)

10.0

조건문과 반복문

In [49]:
#조건문 if

a = 10
if (a > 0):
    print("a는 양의 정수입니다.")

a는 양의 정수입니다.

In [52]:
a = 10
if (a < 0):
    print("a는 양의 정수입니다.")

#아무것도 안나옴(if절 조건이 True가 아니라서 )

In [53]:
a = 10
if (a < 0):
    print("a는 양의 정수입니다.")

print(a)

10

In [55]:
#if ~ else

b = -10

if (b > 0 ):
    print("b는 %d입니다."%b)
    print("b는 양의정수입니다.")
else:
    print("b는 %d입니다."%b)
    print("b는 음의정수입니다.")

b는 -10입니다.
b는 음의정수입니다.

In [56]:
#if~elif~else

a = -10

if (a>0):
    print("a는 양의 정수입니다.")
elif (a==0):
    print("a는 0입니다.")
else:
    print("a는 음의 정수입니다.")

a는 음의 정수입니다.

In [72]:
### 실제 코딩 테스트 나온 문제 

#a,b,c 세 정수형 변수
#이 중에서 가장 큰 수 찾아서 출력
#사용자 입력을 받으세요 

a = int(input("첫번째 수를 입력하세요:"))
b = int(input("두번째 수를 입력하세요:"))
c = int(input("세번째 수를 입력하세요:"))

big = 0

if (a>=b):
    big = a
else:
    big = b
    
if (c >= big):
    print("가장 큰 수는 %d입니다."%c)
else:
    print("가장 큰 수는 %d입니다."%big)

첫번째 수를 입력하세요: 5
두번째 수를 입력하세요: 2
세번째 수를 입력하세요: 3

가장 큰 수는 5입니다.

반복문

In [101]:
#for문

for i in range(5):
    print('python programming')

python programming
python programming
python programming
python programming
python programming

In [108]:
[i for i in range(1,10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
for i in range(1,10,2):
    print(i,end=' ')

1 3 5 7 9

In [105]:
for char in "multi campus":
    print(char, end=' ')

m u l t i   c a m p u s

In [106]:
#이중 for문

for i in range(1,5):
    for j in range(1,5):
        print(i*j, end=' ')
    print()

1 2 3 4
2 4 6 8
3 6 9 12
4 8 12 16

In [102]:
sum = 0

for i in range(1,6):
    sum += i 
    print("i의 값: %d, 합계: %d"%(i,sum))

i의 값: 1, 합계: 1
i의 값: 2, 합계: 3
i의 값: 3, 합계: 6
i의 값: 4, 합계: 10
i의 값: 5, 합계: 15

In [75]:
for i in range(2, 10):
    for j in range(1,10):
        print(f"{i} * {j} = {i*j}")
    print("*"*30)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
******************************
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
******************************
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
******************************
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
******************************
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
******************************
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
******************************
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
******************************
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
******************************

In [107]:
for i in range(2, 10):
    for j in range(1,10):
        print(f"{i} * {j} = {i*j:}",end=" ")
    print()

2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [82]:
#while문

i = 1
while(i<=5):
    print("multi campus")
    i += 1 #(정지조건) >> 없으면 무한 반복

multi campus
multi campus
multi campus
multi campus
multi campus

In [83]:
sum = 0
i = 1

while (i <= 5):
    sum += i 
    print("i의 값: %d, 합계:%d"%(i,sum))
    i += 1

i의 값: 1, 합계:1
i의 값: 2, 합계:3
i의 값: 3, 합계:6
i의 값: 4, 합계:10
i의 값: 5, 합계:15

In [85]:
i = 0
s = "multi campus"

while i <= (len(s) - 1): #len(s)=12
    print(s[i], end= ' ')
    i += 1

m u l t i   c a m p u s

In [86]:
i = 0
while i < 100:
    print(i, end=' ')
    i += 1
    if i == 10:
        break

0 1 2 3 4 5 6 7 8 9

#[기출응용] 평균 점수 계산

In [89]:
#for문 활용 

a = [70,60,55,95,80,70,85,47,83,78]

sum = 0
avg = 0 

for i in a:
    sum += i 

avg = (sum / len(a))
print(sum)
print("평균은 %.2f입니다."%avg)

723
평균은 72.30입니다.

In [91]:
#while문 

a = [70,60,55,95,80,70,85,47,83,78]

sum = 0
avg = 0 

i = 0
while (i < len(a)):
    sum += a[i]
    i += 1

avg = sum / len(a)
print(sum)
print("평균은 %.2f입니다."%avg)

723
평균은 72.30입니다.